.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    gap: 4rem;

    .error-msg{
        color: red;
    }
}