.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    gap: 4rem;

    .error-msg{
        color: red;
    }

    .developed-by-txt{
        color: rgb(151, 151, 151);
        font-weight: 600;
        margin-bottom: 1rem;
    }
}