.metadata-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;

    .results-title {
        font-size: 1.5rem;
        font-weight: 600;
    }
}